@font-face {
  font-family: "Roboto-Regular";
  src: url(../font/Roboto-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../font/Roboto-Medium.ttf) format(truetype);
}
@font-face {
  font-family: "Archivo-Black";
  src: url(../font/Archivo-Black.ttf) format(truetype);
}